<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <br>
  <p> This algorithm reads an array from first box and after that, it compares the sum which is equal to the sum of the elements of the array with the sum of all the three numbers in other three boxes. In the first box, each number of integer array must be placed in a new line. The other three boxes accepts integer arguments. If there is a equality, it returns true. Otherwise, it returns false. If array is null, then it returns false also. Thank you :)</p>
<br>    
<h3>Result is {{result}}</h3>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
	<textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
